@charset "utf-8";

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    background-color: #636363;
    border-radius: 4px;
}

.category-container {
    display: flex;
    width: 100%;
    max-width: 140px;
}

.product-detail-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-detail-top img {
    width: 100%;
    max-width: 250px;
}

.product-detail-bottom h3 {
    color: #0CAF1D;
    font-size: 20px;
}

.product-detail-bottom h4 {
    color: #636363;
    font-size: 12px;
}

.product-detail-botton p {
    padding: 10px 0;
    font-size: 12px;
    color: #636363;
}
